@model List<SportsEquipmentManagementProject.Models.UserInventory>
@{
    ViewBag.Title = "Мой инвентарь";
}

<h2>Мой инвентарь</h2>

<table>
    <thead>
    <tr>
        <th>Инвентарь</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Inventory.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
    </tbody>
</table>