<link rel="stylesheet" href="~/css/Account/login.css"/>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post))
		{
			<h2 style="color: #2d4b6a">Регистрация</h2>
		<div>
			<label>Логин:</label>
			<input type="text" name="userName" placeholder="Имя пользователя" required />
		</div>
		<div>
			<label>Пароль:</label>
			<input type="password" name="password" placeholder="Пароль" required />
		</div>
		<div>
			<label>Повторите пароль:</label>
			<input type="password" name="confirmPassword" placeholder="Повторите пароль" required />
		</div>
		<button type="submit">Зарегистрироваться</button>
		}
	</div>
	<div class="form-container sign-in-container">
		@using (Html.BeginForm("Login", "Account", FormMethod.Post))
		{
			<h2>Вход</h2>
			<div>
				<label>Логин:</label>
				<input type="text" name="userName" placeholder="Имя пользователя" required />
			</div>
			<div>
				<label>Пароль:</label>
				<input type="password" name="password" placeholder="Пароль" required />
			</div>

			<button type="submit">Вход</button>
		}
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Добро пожаловать!</h1>
				<p>Чтобы оставаться на связи с нами, пожалуйста, войдите, используя свои личные данные</p>
				<button class="ghost" id="signIn">Вход</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Привет, коллега!</h1>
				<p>Введите свои личные данные и начните путешествие вместе с нами</p>
				<button class="ghost" id="signUp">Регистрация</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/login.js" asp-append-version="true"></script>
