@model SportsEquipmentManagementProject.Controllers.MenuController

@{
        ViewBag.Title = "Меню";
}

<!DOCTYPE html>

<html>
<head>
    <title>Меню</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/Inventory/Index">Каталог</a></li>
        @if (ViewBag.Role == "User")
        {
            <li><a href="/Request/UserIndex">Мои заявки</a></li>
            <li><a href="/UserInventory/UserInventory">Мой инвентарь</a></li>
        }
        @if (ViewBag.Role == "Admin")
        {
            <li><a href="/Request/AdminIndex">Заявки пользователей</a></li>
            <li><a href="/PurchasePlan/Index">План покупок</a></li>
            <li><a href="/UserInventory/Index">Закрепление инвентаря</a></li>
        }
    </ul>    
</div>
</body>
</html>