.table-custom {
    background-color: #E3F2FD; /* Светло-голубой фон */
    border-radius: 10px;
    overflow: hidden;
}

.table-custom thead {
    background-color: #BBDEFB; /* Нежный голубой */
    color: #0D47A1; /* Тёмно-синий текст */
}

.table-custom tbody tr:nth-child(odd) {
    background-color: #E1F5FE; /* Светлый голубой */
}

.table-custom tbody tr:hover {
    background-color: #B3E5FC; /* Голубой при наведении */
}

.table-custom th, .table-custom td {
    padding: 12px;
    text-align: center;
}

.btn-primary {
    background-color: #64B5F6;
    border-color: #64B5F6;
}

.btn-primary:hover {
    background-color: #42A5F5;
    border-color: #42A5F5;
}

.btn-danger {
    background-color: #E57373;
    border-color: #E57373;
}

.btn-danger:hover {
    background-color: #EF5350;
    border-color: #EF5350;
}
